
/*  ==== NAVBAR ==== */

.aboutme{
    border-bottom: 1px solid #B1790C;
    }

/*  ==== BODY ==== */

body, html {
    height: 100%;
    width: 100%;
  }
body{
    overflow: hidden;
    }

.cassette{
    display: none;
    position: absolute;
    height: 80%;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
       
    }
.cassette_op{
    z-index: -1;
    position: absolute;
    height: 150%;
    left: -300px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .2;
    animation: cassetteop 6s;
       
    }
.me{
    height: 1000px;
    opacity: .2;
    position: absolute;
    right: -100px;
    bottom: -50px;
    z-index: -1;
    }
article{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutcontent{
    display: flex;
    align-items: center;
    justify-content: center;   
    animation: popuptext 2s;
    z-index: 2;
    }

.spacer{
    position: relative;
    left: 0px;
    }
.text{
    padding-left: 20px;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    
    }
h1.presentation{
    font-weight: 200;
    color: #B1790C;
    display: block;
    font-size: 60px;
    
    }

p   {
    color: #C3BCB2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 8px;
    }

.BoldText{
    color: #B1790C;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    }

.star{
    color: #B1790C;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    }
.about{
    font-size: 88px;
    color: rgba(255,255,255,0.4);
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: fadeIn 5s;
    }



    /* ===================== MEDIA QUERY ========================= */
    @media only screen and (max-width: 800px){
        .cassette_op{
            z-index: -1;
            position: absolute;
            height: 60%;
            left: -300px;
            top: 50%;
            transform: translateY(-50%);
            opacity: .2;
            animation: cassetteop 6s;
            }
            .me{
                height: 600px;
                opacity: .2;
                position: absolute;
                right: -100px;
                bottom: -50px;
                z-index: -1;
                }
        .aboutcontent{
            transform: scale(.8);
            }
        }



@media only screen and (min-width: 801px) and (max-width: 1290px){
    .cassette_op{
        z-index: -1;
        position: absolute;
        height: 100%;
        left: -300px;
        top: 50%;
        transform: translateY(-50%);
        opacity: .2;
        animation: cassetteop 6s;
        }
        .me{
            height: 800px;
            opacity: .2;
            position: absolute;
            right: -100px;
            bottom: -50px;
            z-index: -1;
            }
            .aboutcontent{
                transform: scale(.9);
                }
    }
@media only screen and (max-width: 480px) {


    .cassette{
        display: none;
        }

    .cassette_op{
        display: none;
        }

    .me{
        height:800px;
        opacity: .1;
        position: absolute;
        top: 50%;
        right: -80px;
        }

    .about{
        display: none;    
    }
    .spacer{
        transform: scale(.5);
        position: relative;
        top: -145px;
        }
    .aboutcontent{
        display: flex;
        align-items: flex-start;
        position: absolute;
        left: 1%;
        top: 10%;
        animation: popuptext 2s;
        }

    h1.presentation{
        font-weight: 200;
        color: #B1790C;
        display: block;
        font-size: 20px;
        white-space: nowrap;
        }
.text{
    padding-left: 10px;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;
    }

p   {
    color: #C3BCB2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0px;
    width: 50%;
    }

.BoldText{
        color: #B1790C;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
        }

    
    .star{
        color: #B1790C;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        }

    .aboutme{
        color: #C3BCB2 !important;
        font-weight: 400 !important;
        border: none;
        }
    }