    *{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Yeseva One', cursive;
    }

/* === BODY === */

.contacts {
    background-color: #ffffff  !important; 
    color: #B1790C !important;
    padding: 5px 10px !important;
    border-radius:  0px 8px 0px 8px !important;
    transition: ease-in-out .3s !important;
    }

/* ===== FORM ===== */

.content{
    position: absolute;
    right: 200px;
    top: 100px;
    display: flex;
    }

h1{
    color: #B1790C;
    position: relative;
    top: -8px;
    font-weight: 300;
    font-size: 30px;
    }

h2{
    color:#B1790C;
    position: relative;
    top:8px;
    font-weight: 300;
    font-size: 30px;
    }

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 480px;
    position: relative;
    left: 10px;
    }

ul.social li{
    margin-top: 30px;
    }

.social li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    }

img{
    margin-right: 10px;
    z-index: -1;
    }

.compile{
    z-index: 99;
    display: flex;
    flex-direction: column;
    }

.spacer2{
    z-index: 99;
    }

.nomecognome{
    display: flex;
    justify-content: space-between;
    }

input[type='text']{
    width: 48%;
    height: 46px;
    border-radius: 10px;
    border: none;
    }

input[type='email']{
    width: 100%;
    height: 46px;
    border-radius: 10px;
    border: none;
    margin: 20px  0;
    }

textarea{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    border: none;
    }

::placeholder{
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    }

textarea::placeholder{
    padding: 10px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    }

button.submit{
    height: 46px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #3B5C6F;
    color: white;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    }

button.submit:hover{
    height: 46px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #C3BCB2;
    color: #222D2F;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    }

.noise{
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    }

.noise_op{
    position: absolute;
    width: 70%;
    top:-150px;
    left: -100px;
    z-index: -2;
    opacity: .2;
    animation: noiseop 5s;
    }