    *{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Yeseva One', cursive;
    }

/* === BODY === */

body{
    overflow: hidden;
    }

.contacts {
    background-color: #ffffff  !important; 
    color: #B1790C !important;
    padding: 5px 10px !important;
    border-radius:  0px 8px 0px 8px !important;
    transition: ease-in-out .3s !important;
    }

/* ===== FORM ===== */

.content{
    position: absolute;
    right: 200px;
    top: 100px;
    display: flex;
    }

h1{
    color: #B1790C;
    position: relative;
    top: -8px;
    font-weight: 300;
    font-size: 30px;
    }

h2{
    color:#B1790C;
    position: relative;
    top:8px;
    font-weight: 300;
    font-size: 30px;
    }

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 480px;
    position: relative;
    /* left: 10px; */
    }

ul.social li{
    margin-top: 30px;
    }

.social li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    }

    .social img{
    margin-right: 10px;
    z-index: -1;
    }

.compile{
    z-index: 99;
    display: flex;
    flex-direction: column;
    }

.spacer2{
    z-index: 99;
    }

.nomecognome{
    display: flex;
    justify-content: space-between;
    }

input[type='text']{
    width: 46%;
    height: 46px;
    border-radius: 10px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding-left: 10px;
    }
    input[type='text']:focus{
        background-color: #f3f3f3;
        outline: none;    
    } 
               

input[type='email']{
    width: 98%;
    height: 46px;
    border-radius: 10px;
    border: none;
    margin: 10px  0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding-left: 10px;
    }
    input[type='email']:focus{
        background-color: #f3f3f3;
        outline: none; 
        }

textarea{
    width: 95%;
    height: 80%;
    border-radius: 10px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding: 10px;
    initial-letter: uppercase;
    resize: none;
    }
    textarea:focus{
        background-color: #f3f3f3;
        outline: none; 
    }
::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    }

textarea::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    }

button.submit{
    height: 46px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #3B5C6F;
    color: white;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    transition: ease .2s;
    }

button.submit:hover{

    background-color: #C3BCB2;
    color: #222D2F;

    transition: ease .2s;
    }

.noise{
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    }

.noise_op{
    position: absolute;
    width: 70%;
    top:-150px;
    left: -100px;
    z-index: -2;
    opacity: .2;
    animation: noiseop 5s;
    }

/*  ================= MEDI QUERY ============== */



@media only screen and (max-width: 420px) {
    .contacts {
        background-color: #B1790C;
        border-radius: 8px 8px 0px 0px !important;
        font-size: 25px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        transition: none !important;
        }
        .noise{
            display: none;
            }
        
        .noise_op{
            position: absolute;
            width: 100%;
            top: 250px;
            left: -150px;
            z-index: -2;
            opacity: .6;
            animation: none;

            }
            .content{
                position: absolute;
                width: 100%;
                left: 20px;
                top: 100px;
                display: flex;
                }
                .nomecognome{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    }

                input[type='text']{
                    margin-top: 10px;
                    width:98%;
                    height: 46px;
                    border-radius: 10px;
                    border: none;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 16px;
                    padding-left: 10px;
                    }
                    input[type='text']:focus{
                        background-color: #f3f3f3;
                        outline: none;    
                    } 
                    textarea{
                        width: 95%;
                        height: 20%;
                        border-radius: 10px;
                        border: none;
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 16px;
                        padding: 10px;
                        
                        resize: none;
                        }
                    form{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 130%;
                    height: 480px;
                    margin-top: 30px;
                    position: relative;
                    top: 350px;
                   

                    }

                    .spacer2{display: none;}

                    .compile{
                        z-index: 99;
                        display: flex;
                        flex-direction: column-reverse;
                        }
                    h2{
                        color:#B1790C;
                        position: absolute;
                        top:0px;
                        font-weight: 300;
                        font-size: 30px;
                        }

                    ul.social{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-top: 50px;
                        }
                    ul.social li{
                        margin-top: 10px;
                        }
                            
                        .social li a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: white;
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 20px;
                        margin-left: 0px;
                        
                        }

                    .social img{
                         width: 21px;
                        }
    }