  /* === BODY === */

  html {
    height: 100%;
    width: 100%;
  }
  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

header {z-index: 999;}

/* NASCONDO TESTO PER MOBILE */
.mobile{display: none;}
nav.propriety-mobile{display: none;}
/* ======================== */

/*  ==== CONTENITORE TESTRO CENTRALE ==== */

section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    }
    
        /* Testa (img + shadow) */
              .testa{
                position: relative;
                left: 10px;
                z-index: 1;
                }
        /* ===================== */

            .marblehead {
                height: 622px;
                animation: fadeIn 1s;
                }

            .yellowbannershadow{
              position: absolute;
              top: 34.1%;
              left: 80%;
              z-index: -1;
              background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
              width: 200px;
              height: 200px;
              animation: fadeIn 3s;
                }

            .prtext{
         
              display: flex;
              flex-direction: column;
              align-items: center;
              }

            h1.name{
              white-space: nowrap;
              font-size: 9vh;
              color: #B1790C;
              letter-spacing: 4px;
              font-weight: 300;
              animation: fadeIn 4s;
              }
        
            nav.propriety{
              margin: 20px;
              }
                
            ul.description{
              display: flex;
              justify-content: center;
              align-items: center;
              animation: fadeIn 8s;
              }
                
                
            ul li.desctext{
              font-size: 20px;
              color: #B1790C;
              padding: 0 20px;
              font-family: 'Josefin Sans', sans-serif;
              letter-spacing: 2px;
              font-weight: 200;
              }
                
            div.bar{
              height: 1px;
              width: 400px;
              background-color: #B1790C;
              animation: fadeIn 6s;
              }
  
            .home{
              color: rgba(195,188,178,0.21);
              font-size: 88px;
              letter-spacing: 4px;
              font-weight: 100;
              animation: fadeIn 10s;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
              }   
  /* =================================================== */  
  
  
.yellowbanner{
  z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(203, 169, 29, 0.17);
    width: 100%;
    height: 200px;
    animation: fadeIn 1s;
    }

.marblehead_op{
    opacity: .2;
    z-index: -1;
    position: absolute;
    left: -250px;
    top: -60px;
    animation: headop 2s;
    }



/* ================================================================================================================ */


/* ===================== MEDIA QUERY ========================= */

@media only screen and (max-width: 480px) {


  .yellowbanner{
    display: none;
  }
  .testa{
    display: none;
  }
/* ================= ANDREA PARISI (VERTICALE) ===================== */
  h1.name{
    display: none;
        }

        section{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 80%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0%;
          transform: translateX(-50%);
          }
  .mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 70%;
  }
  h1.name-vertical{
    color: #B1790C;
     writing-mode: vertical-lr;
    text-orientation:upright;
    font-size: 60px;
    }
  .namebar{
    width: 3px;
    height: 500px;
    background: rgb(177,121,12);
    background: linear-gradient(0deg, rgba(177,121,12,0) 0%, rgba(177,121,12,1) 25%, rgba(177,121,12,1) 50%, rgba(177,121,12,1) 75%, rgba(177,121,12,0) 100%);
}
  h1.cognome{
      font-family: 'Josefin Sans', sans-serif;
      color: #C3BCB2;
      writing-mode: vertical-lr;
      text-orientation:upright;
      font-size: 60px;
      letter-spacing: 10px;
      margin-top: 20px;
      font-weight: 200;
    }

/* =============================================================== */


/* =============== PROPRIETY (VERTICALE) ========== */


nav.propriety-mobile{
  display:initial;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-25%);
  }
.propriety{
  display: none;
}
ul.description-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: none;
  position: absolute;
  bottom: 10px;
  }
    
    
ul li.desctext-mobile{
  font-size: 20px;
  color: #ffffff;
  padding: 0 20px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  }

.bar{
  display: none;
}


/* ================================================== */
    .marblehead_op{
      opacity: .1;
      z-index: -1;
      position: absolute;
      left: -350px;
      top: 0%;
      transform: translateY(-30%);
      animation: none;
      transform: scale(50%);}


}
 @media only screen and (min-width: 1176px) and (max-width: 1454px) { 
    .home{
      position: absolute;
      transform: translateY(0);
      top: 83%;
      left: 50%;
      transform: translateX(-50%);
      }

    .marblehead{
      height: 500px;
    
      }

    .yellowbannershadow{
      top: 152px;
      }

  }
  @media only screen and (min-width: 960px) and (max-width: 1176px) { 
    .home{
      position: absolute;
      transform: translateY(0);
      top: 83%;
      left: 50%;
      transform: translateX(-50%);
      }
    h1.name{
      font-size: 6vh;
      }

    .marblehead{
      height: 400px;
      }

      .yellowbannershadow{
      top: 102px;
      }

    ul li.desctext{
      font-size:15px; 
      white-space: nowrap;
      }

  }
  

  @media only screen and (min-width: 481px) and (max-width: 960px) {
    .home{
      position: absolute;
      transform: translateY(0);
      top: 83%;
      left: 50%;
      transform: translateX(-50%);
      }
      .marblehead {
        height: 311px;
        animation: fadeIn 1s;
        }

      .testa{
        z-index: 2;
        display: flex;
        align-items: center;
        position: relative;
        left: 10px;
        }

        .prtext{
          position: absolute;
          left: 50%;
        }

        .yellowbannershadow{
          top: 56px;
          }
      h1.name{
        white-space: nowrap;
        font-size: 5vh;
        color: #B1790C;
        letter-spacing: 4px;
        font-weight: 300;
        animation: fadeIn 4s;
        }

      }

    

    